/*-- 清除样式 --*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,table,td,img,div{margin:0;padding:0;border:0;} 
body{background:#fff;color:#333;font-size:14px; margin-top:5px;font-family:"SimSun","宋体","Arial Narrow";}
ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
a{text-decoration:none;} 
a:link{color:#000;} 
a:visited{color:#000;} 
a:hover,a:active,a:focus{color:#c00;text-decoration:underline;} 

/*-- 通用格式 --*/
.fl{float: left;}
.fr{float: right;}
.w{width: 1024px;margin: 0 auto;}
.clearfix:after{
   content:".";/*加一段内容*/
   display:block;/*让生成的元素以块级元素显示，占满剩余空间*/
   /*height:0;避免生成的内容破坏原有布局高度*/
   clear:both;/*清除浮动*/
   visibility:hidden;/*让生成的内容不可见*/
 }
.clearfix{zoom:1;/*为IE6，7的兼容性设置*/}

/*-- header 开始 --*/
header{
	height: 64px;
  font-family: "Open Sans";
  font-size: 14px;
  border-bottom: 1px solid #ededed;
}
.nav-con{
	height: 64px;
	line-height: 64px;
}
.nav-logo{width: 230px;border-right: 1px solid #ededed;}
.logo{height: 64px;}
.nav-menu li{float: left;}
.nav-menu li a{display: inline-block;padding:0 40px;}
.nav-menu li a.nav-home{color: }
/*-- header 结束 --*/

/*-- content 开始 --*/
/*ad 开始*/
.ad{margin-top: 30px; margin-bottom: 20px;}
.ad-l{width: 65%;}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-slide img{width: 100%}
.ad-r{width: 33%;}
.ad-r ul li{font-size: 14px;line-height: 100px;border-bottom: 1px solid #ededed;}
/*ad 结束*/

/*line 部分*/
.line{height: 13px; margin-top: 80px; margin-bottom: 70px; border-bottom: 2px solid #ededed; position: relative; }
.line h3{font-size: 24px; text-align: center; margin:0 auto; padding: 0 30px;background-color: #fff; position: absolute; left: 42%; top: -2px;}

/*room 开始*/
.room-items{width: 300px;margin: 20px;}
.room-pic{width: 300px;height: 200px; 
/*  margin:100px auto;*/
  overflow:hidden;}
.room-pic img{width: 100%; transition:all 0.5s; cursor:pointer;}/*图片过渡变化*/
.room-pic img:hover {transform:scale(1.2);}/*鼠标移到图片放大1.2倍*/
.room-con{width: 298px; height: 50px; border: 1px solid #ededed;}
.room-name{width: 200px; height: 50px; line-height: 50px; padding-left:20px; border-right: 1px solid #ededed;}
.room-price{width: 77px; height: 40px; text-align: center; padding-top: 10px;background-color: rgba(90, 186, 198, 0.05); color: #75c5cf;}
.room-price span{display: block; color: #979797; font-size: 10px;}
/*room 结束*/

/*service 开始*/
.service-con{width: 23%; text-align: center; margin-right: 2%}
.service-con .circle {
    width: 80px;
    height: 80px;
    border: 1px #75c5cf solid;
    -webkit-border-radius: 100px;
    margin: 0 auto;
}
.service-con h3{margin: 20px 0 10px 0;}
.service-con p{}
/*service 结束*/

/*food 开始*/
.food{margin-bottom: 70px;}
/*food 结束*/
/*-- content 结束 --*/

/*-- footer 开始 --*/
footer{background-color: #A2A297;}
.content{padding: 40px 0;}
.content h3{height: 20px; border-right: 2px solid #FDEECB; margin-bottom: 16px; padding-right: 10px;}
.content img{height: 120px;}
.weixin img{margin-right: -58px;}
.weixin, .where,.teline{width: 26%; text-align: right;}
.where p,.teline p{height: 30px;}
/*-- footer 结束 --*/









